.title{
  text-align: center;
  position: relative;
  h2{
    text-align: center;
    color: $red;
    font-weight: bold;
    position: relative;
    z-index: 2;
    margin-top: 35px;
    margin-bottom: 40px;
    div{
      font-size: 2.5rem;
    }
    &::after{
      content: "";
      width: 330px;
      height: 20px;
      border: 2px solid $or_light;
      position: absolute;
      margin: 0 auto;
      left: 0;
      right: 0;
      bottom: -5px;
      z-index: -1;
    }
  }
  p{
    font-size: 1.5rem;
  }
}

@media(max-width:1200px){}
@media(max-width:992px){}
@media(max-width:768px){
  .title{
    h2{
      font-size: 1.5rem;
      margin-bottom: 20px;
      div{
        font-size: 1.5rem;
      }
      &::after{
        width: 260px;
        height: 15px;
        bottom: -5px;
      }
    }
    p{
      font-size: 1rem;
    }
  }
  
}

.safty{
  // box-shadow: 0 0 5px $txt;
}

