* {
  box-sizing: border-box;
}
body {
  font-size: 16px;
  font-family: "微軟正黑體", Arial, Helvetica, sans-serif;
  color: $txt;
}
ul {
  list-style-type: none;
  padding-left: 0;
}
a {
  &:hover {
    text-decoration: none;
  }
}
p {
  margin-bottom: 0;
}
.router-link-exact-active {
  background: #ef4068;
  color: #fff !important;
  padding: 5px 15px;
  border-radius: 20px;
}
a.disabled{
  pointer-events: none;
}
.cancelBtn[disabled]{
  background: #f1f1f1;
}
.confirm[disabled]{
  background: lighten($primary2, 15%);
}
button:focus {
  outline: none;
}
.px-block{
  display: block;
}
.cell-block{
  display: none;
}
th{
  white-space: nowrap;
}
.form-control:focus{
  box-shadow: 0 0 0 0.2rem lighten($primary1,30%) !important;
  border: 1px solid $primary1 !important;
}

@media(max-width:768px){
  .px-block{
    display: none;
  }
  .cell-block{
    display: block;
  }
}