.minHeight{
  min-height:calc(100vh - 375px);
}
.coupon{
  text-align: center;
  margin: 0 auto;
  width: 40%;
  h2{
    color: #fff;
    font-weight: bold;
    font-size: 30px;
    background: $or;
    display: block;
    line-height: 40px;
    text-align: center;
    margin-bottom: 20px;
    border-radius: 30px;
  }
  input{
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    color: rgb(131, 131, 131);
    font-weight: bold;
    vertical-align: middle;
  }
  button{
    background:$red;
    color: #fff;
    border: none;
    padding: 11.5px 19px 11.5px 15px;
    vertical-align: middle;
    margin-left: -6px;
    font-size: 16px;
  }
}
img{
  margin:0 auto;
  margin-top: 10vh;
  margin-bottom: 8vh;
  display: block;
  width: 50%;
  max-width: 800px;
  animation-duration: 1s;
}
.box{
  border: 2px solid $red;
  display: inline-block;
  border-radius: 30px;
  overflow: hidden;
}
p{
  margin-bottom: 20px;
  white-space: nowrap;
}
.cou{
  display: block;
  padding: 0 0;
}
@media (max-width: 992px) {
  img{
    width: 65%;
  }
  .coupon{
    width: 45%;
  }
}
@media (max-width:768px) {
  img{
    width: 80%;
    margin-top: 30px;
    margin-bottom: 40px;
  }
  .coupon{
    width: calc(100% - 30px);
    h2{
      font-size: 22px;
      line-height: 35px;
      margin-bottom: 16px;
    }
  }
  p{
    margin-bottom: 20px;
    white-space: nowrap;
  }
}