footer{
  background: $or;
  text-align: center;
  color: #fff;
  padding: 20px;
  margin-top: 60px;
}
img{
  max-width: 100px;
  margin: 10px 0;
}
p{
  margin-bottom: 10px;
}
@media (max-width:768px) {
  footer{
    padding: 8px 15px;
  }
  p{
    font-size: 12px;
  }
}