.pd0{
  padding-left: 0;
  padding-right: 0;
}
.productStyle{
  h3{
    height: 84px;
    color: $or;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    &:hover{
      color: $red;
    }
  }
}
.proImg img{
  object-fit: contain;
  width: 100%;
  padding: 5px;
  cursor: pointer;
}
.proCol{
  margin: 15px 0;

  a{
    box-shadow: 0 0 5px #ababab;
    display: block;
    padding: 10px 0;
  }
}
.proTxt{
  padding: 15px;
  p{
    color: $txt;
    line-height: 20px;
    display: inline-block;
    vertical-align: middle;
  }
  em{
    font-size: 12px;
    text-decoration: line-through;
    
  }
  i{
    color: $pink;
    border: 1px solid $pink;
    padding: 11px 12px 11px 9px;
    border-radius: 100%;
    float: right;
    vertical-align: middle;
    cursor: pointer;
    &:hover{
      color: $red;
      border: 1px solid $red;
    }
  }
  .type{
    background:$pink;
    color: #fff;
    font-size: 12px;
    padding:1px 10px;
    border-radius: 10px;
    margin-bottom: 10px;
  }
}
@media(max-width:426px){
  .proTxt{
    padding: 10px;
  }
  .productStyle{
    padding: 0 5px;
    h3{
      height: 70px;
    }
  }
  .proCol{
    padding: 0 10px;
    margin: 10px 0;
  }
}