ul {
  margin: 10px 0;
}
li{
  text-align: left;
  list-style-type: disc;
  margin-left: 30px;
}
.add {
  color: #fff;
  background: $red;
  border-radius: 4px;
  float: right;
  padding: 5px 15px;
  margin-bottom: 20px;
  font-size: 14px;
}
table {
  width: 100%;
}
thead {
  background: #ddd;
  font-weight: bold;
  text-align: center;
  line-height: 40px;
}
th {
  &:last-child {
    width: 135px;
  }
}
tbody {
  color: #000;
  tr {
    border-bottom: 1px solid #ddd;
  }
  td {
    vertical-align: middle;
    padding: 0px 10px;
    white-space: nowrap;
    &:nth-child(5),
    &:nth-child(6) {
      text-align: center;
    }
  }
  i{
    color: #c7c7c7;
  }
}
.edit,
.del {
  display: inline-block;
  border-radius: 4px;
  padding: 5px 10px;
  line-height: 20px;
  margin: 10px 3px;
  font-size: 14px;
}
.edit {
  color: blue;
  border: 1px solid blue;
}
.del {
  color: red;
  border: 1px solid red;
}
input {
  padding: 3px;
}
.state {
  i {
    display: inline-block;
    font-size: 30px;
    margin: 0 5px;
  }
}
.okGreen {
  color: #0ab90a;
}
.noRed {
  color: red;
}
.notUse {
  background: #f3f3f3;
  color: $txt;
  .okGreen {
    color: $txt;
  }
  i{
    color: #000;
  }
}
.dateStyle {
  & > div {
    margin-bottom: 8px;
  }
}

