header {
  color:$or;
  margin-top: 10px;
  padding-bottom: 10px;
  font-weight: bold;
  .logo {
    display: inline-block;
    max-width: 120px;
    margin-right: 20px;
  }
  ul {
    display: inline-block;
    &:last-child{
      float: right;
    }
  }
  li {
    display: inline-block;
    padding: 5px 15px;
    cursor: pointer;
  }
  
}
.nav{
  li {
    padding: 5px 15px;
    border-radius: 20px;
    cursor: pointer;
    &:hover{
      background: $red;
      color: #fff;
    }
  }
}
.nav2{
  margin-top: 5px;
  a{
    background: $or;
    color: #fff;
    border-radius: 20px;
    padding: 5px 15px;
    font-size: 14px;
  }
}
i{
  margin-right: 5px;
}