* {
  box-sizing: border-box;
}
body {
  font-size: 16px;
  font-family: "微軟正黑體", Arial, Helvetica, sans-serif;
  color: #767676;
}
ul {
  list-style-type: none;
  padding-left: 0;
}
a {
  &:hover {
    text-decoration: none;
  }
}
p {
  margin-bottom: 0;
}
.router-link-exact-active {
  background: #ef4068;
  color: #fff !important;
  padding: 5px 15px;
  border-radius: 20px;
}
a.disabled{
  pointer-events: none;
}
button[disabled]{
  background: lighten($red, 15%) !important;
}
